.user-row{
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
    display: flex;
    &__name{
        font-weight: bold;
        color: $main-color;
        font-size: 17px;
    }
    &__role{
        color: #575757;
    }
    &__thumb{
        margin-right: 10px;
        display: flex;
        &__img{
            background: #ccc;
            width: 50px;
        }
    }

}