// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "project/project.scss";

a {
    color: #14aaf5;
    cursor: pointer;
    text-decoration: none;
}
.btn {
    color: #fff;
}
.white-block {
    background: #fff;
    box-shadow: $main-shadow;
}
.p15 {
    padding: 15px;
}
.ui-header {
    margin-bottom: 15px;
}
.danger-color {
    color: #f56c6c !important;
}
//tasks-list
.tasks-list {
    border-top: 1px solid #e0e6e8;
}
.small-width {
    .content {
        width: 1000px;
        margin: auto;
    }
}
//task-row =====================================================
.task-row {
    border-bottom: 1px solid #e0e6e8;
    height: 45px;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #edf8ff;
    }
    //margin-bottom: 10px;
    &__link {
        color: #151b26;
        cursor: pointer;
        line-height: 45px;
        text-decoration: none;
        display: block;
        width: 100%;
        padding-left: 10px;
    }
}

.task-dropdown {
    height: 100%;
    width: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    //border: 1px solid #e0e6e8;
    border-bottom: 0;
    border-top: 0;
    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__popper {
        margin-top: 0 !important;
    }
}

//new-task-form =====================================================
.new-task-form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    .el-input {
        &__inner {
            border-radius: 4px 0 0 4px;
        }
    }
    .el-button {
        border-radius: 0 4px 4px 0;
    }
}
