// Variables
@import "variables";
@import "mixins";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html, body{
    height: 100%;
    overflow: hidden;
}

label{
    margin: 0;
}






.project {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    position: relative;
}

.simple-textarea {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #d5dce0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 9px;
    min-height: 70px;
    padding-bottom: 4px;
    padding-top: 4px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: border-color 100ms;
    &:focus {
        border-color: #9ca6af;
        box-shadow: inset 0 1px #e0e6e8;
        outline: none;
    }
    &:hover {
        border-color: #d5dce0;
    }
}

a {
    color: #14aaf5;
    cursor: pointer;
    text-decoration: none;
}
.btn {
    color: #fff;
}
.white-block {
    background: #fff;
    box-shadow: $main-shadow;
}
.p15 {
    padding: 15px;
}
.ui-header {
    margin-bottom: 15px;
}
.danger-color {
    color: #f56c6c !important;
}
//tasks-list
.tasks-list {
    border-top: 1px solid #e0e6e8;
}
.small-width {
    .content {
        width: 1000px;
        margin: auto;
    }
}
.full-width {
    .content {
        width: 100%;
    }
}
//task-row =====================================================
.task-row {
    border-bottom: 1px solid #e0e6e8;
    height: 45px;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #edf8ff;
    }
    //margin-bottom: 10px;
    &__link {
        color: #151b26;
        cursor: pointer;
        line-height: 45px;
        text-decoration: none;
        display: block;
        width: 100%;
        padding-left: 10px;
    }
}

.task-dropdown {
    height: 100%;
    width: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    //border: 1px solid #e0e6e8;
    border-bottom: 0;
    border-top: 0;
    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__popper {
        margin-top: 0 !important;
    }
}

//new-task-form =====================================================
.new-task-form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    .el-input {
        &__inner {
            border-radius: 4px 0 0 4px;
        }
    }
    .el-button {
        border-radius: 0 4px 4px 0;
    }
}
// .el-date-editor =====================================================
.el-date-editor {
    .el-input__inner {
        cursor: pointer;
    }
}
.el-picker-panel {
    transition: none !important;
}

//======================================

.v-context.context-menu {
    padding: 0;
    li > a {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.25rem;
    }
    .del-link {
        a {
            color: red;
        }
    }
}
.w-1000{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.w-850{
    max-width: 850px;
    width: 100%;
    margin: auto;
}
.content-block {
    display: flex;
    flex-direction: column;
    flex: 0 1 1000px;
    padding: 5px;
    margin-right: -10px;
    &__inner {
        
    }
}
.content-wrapp{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    .ui-header{
        padding-bottom: 10px;
    }
}
.white-bg {
    background: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
}
.pagination{
    margin: 0;
}

@import "project/project.scss";
@import "tasks/tasks-tree";
@import "tasks/task";
@import "project/project";
@import "customer/customer";
@import "user/user";
@import "components";
