.single-task {
    flex: 0 1 675px;
    margin-left: 15px !important;
    .task-status{
        flex-basis: 250px;
    }
    .user-picker{
        margin-right: 10px;
    }
    .scrollable {
        flex: 1 1 auto;
    }
    &__header {
        display: flex;
        align-items: center;
        &__tools {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }
    &__footer {
        
    }
    &__name-input {
        align-items: flex-start;
        display: flex;
        position: relative;
        margin: 10px 0;
        &__inner {
            flex: 1 1 auto;
            min-width: 1px;
        }
        &__shadow,
        &__textarea {
            font-size: 17px;
            font-weight: 500;
            line-height: 26px;
            min-height: 0;
            padding-bottom: 4px;
            padding-top: 4px;
        }
        &__shadow {
            border: 1px solid #d5dce0;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 0 9px;
            padding-bottom: 4px;
            padding-top: 4px;
            resize: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            height: auto;
            visibility: hidden;
        }
        &__textarea {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            overflow: hidden;
            text-rendering: optimizeSpeed;
            vertical-align: top;
            border-color: transparent;
        }
    }
    .el-date-editor {
        &.el-input {
            width: 140px !important;
        }
        .el-input__inner {
            border-radius: 25px;
            cursor: pointer;
        }
    }
}

.date_asigne_row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.red-time{
    .el-input__inner, .el-input__prefix{
        color: #F56C6C;
    }
    .el-input__inner{
        border-color: #F56C6C;
    }
}

.is-red-time{
    .el-date-editor .el-input__inner, .tasks-tree__row__name{
        color: #F56C6C;
    }
    .tasks-tree__row{
        border-color: #F56C6C;
    }
}